**/nbproject/private
nbproject/project.properties
**/dist
.DS_Store
toolkit
keystore.ks
dist/**
gephi-plugins/build/**
MDLPA/build/classes/**
MDLPA/build/classes-generated/**
MDLPA/build/depcache/**
MDLPA/build/no-license.txt
nbproject/private/**

!MDLPA/build/MDLPA.nbm